h1 {
  font-size: 4.5rem;
  line-height: 1.1em;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.1em;
  font-weight: 300;
}

h3 {
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.2;
}

.g-wrapper  {

}

.g-bg-image {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.g-title {
  margin: 21px 0;
}

.g-line-height-desc {
  line-height: 1.6;
}
