@import "reset";
@import "global";
@import "vue3-carousel/dist/carousel.css";
@import "element-plus/dist/index.css";

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow: auto !important;
  background: #fff;
  color: #111;
}
